# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# Models
saved_models/

# Kaggle cache
.kaggle/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# DVC tracked dataset
data/diabetes.csv